<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Doctor Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="Patientdetails.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/doctorprofile.css">
</head>

<body>
  <nav>
    <div class="logo">
      medRec
    </div>
    <div class="loginSignup">
      <a >Hello, {{doctorProfile.name}} </a>
      <button class="logoutButton" onclick="location.href='/index'">Logout</button>
    </div>
  </nav>
  <main>
    <form>
      <div class="form-group row">
        <label for="usr" class="col-sm-3 col-form-label">Name:</label>
        <p class="col-sm-5 form-control" id="usr">{{doctorProfile.name}}</p>
      </div>
      <div class="form-group row">
        <label for="usr" class="col-sm-3 col-form-label">email:</label>
        <p class="col-sm-5 form-control" id="usr">{{doctorProfile.email}}</p>
      </div>
      <div class="form-group row">
        <label for="usr" class="col-sm-3 col-form-label">Specialization:</label>
        <p class="col-sm-5 form-control" id="usr">GeneralMedicine</p>
      </div>
      <div class="form-group row">
        <label for="usr" class="col-sm-3 col-form-label">Contact:</label>
        <p class="col-sm-5 form-control" id="usr">408-308-208</p>
      </div>
      <br/><br/>
      <hr/>
      <p style="text-align:center;"><a href = "/medicaldetails" class = "update"> Click to update patient medication</a></p>
      <hr/>
    </main>
  </body>
  </html>
