<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Medication Details</title>
  <link rel="stylesheet" href="/css/medication.css">
</head>

<body>
    <nav>
        <div class="logo">
            medRec
        </div>
        <div class="loginSignup">
            <a href="/profile" >Hello, </a>
            <button class="logoutButton" onclick="location.href='/index'">Logout</button>
        </div>
    </nav>
  <main>
    <div class="container">
          <div class="medicinedetails">
            <div class = "medicine" style="background-color: #bbbbbb;">
            <h3> {{patientMedication.medication_reason}} </h3><br>
          </div>
          <div class = "disease">
            <h4 style="background-color: #999999;">{{patientMedication.medicine}}</h4><br>
          </div>

                <p>{{patientMedication.time}}</p><br>

                <p>19:00:00</p><br>

                <p></p><br>

            </div>
            <div class="medicinedetails">
              <div class = medicine style="background-color: #bbbbbb;">
              <h3> qwe2 </h3><br>
            </div>
            <div class = "disease">
              <h4 style="background-color: #999999;">asd2</h4><br>
            </div>

                  <p>07:00:00</p><br>

                  <p>13:00:00</p><br>

                  <p>19:00:00</p><br>

              </div>
      </div>
  </main>
</body>
</html>
