<!DOCTYPE html>
<html lang="en"> <!-- English -->
<head>
  <title>An Empty HTML5 document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="Patientdetails.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/patientdetails.css">
</head>
<body>
  <nav>
    <div class="logo">
      medRec
    </div>
    <div class="loginSignup">
      <span>Hello, {{patientdetails}}</span>
      <button class="logoutButton" onclick="location.href='/index'">Logout</button>
    </div>
  </nav>
  <main>
    <form class = "patientdetails" action="/patientdetails" method="post">
      <label for="id"><b>ID </b></label>
      <input type="number" name="id" placeholder="Enter ID" required>
      <br/>
      <label for="address"><b>Phonenumber </b></label>
      <input type="number" name="address" placeholder="Enter Phonenumber" required>
      <br/>
      <label for="height"><b>Height </b></label>
      <input type="text" name="height" placeholder="Enter height" required>
      <br/>
      <label for="weight"><b>Weight </b></label>
      <input type="text" name="weight" placeholder="Enter weight" required>
      <br/>
      <label for="blood"><b>Blood Group </b></label>
      <select id="blood" name="blood" placeholder="Select bloodgroup" required>
        <option value="A Positive">A Positive</option>
        <option value="A Negative">A Negative</option>
        <option value="B Positive">B Positive</option>
        <option value="B Negative">B Negative</option>
        <option value="O Positive">O Positive</option>
        <option value="O Negative">O Negative</option>
        <option value="AB Negative">AB Positive</option>
        <option value="AB Negative">AB Negative</option>
      </select>
      <br/>
      <div><button id = "Submitbutton" type="submit">Submit</button></div>
    </form>
  </main>
</body>
</html
