<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Medication Details</title>
  <link rel="stylesheet" href="/css/medication.css">
</head>

<body>
  <nav>
    <div class="logo">
      medRec
    </div>
    <div class="loginSignup">
      <a href="/profile" >Hello, {{name}} </a>
      <button class="logoutButton" onclick="location.href='/index'">Logout</button>
    </div>
  </nav>
  <main>
    <h3> {{Page}} details updated successfully. </h3>
  </main>
</body>
</html>
