<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="/css/user.css"> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <title>Patient Home</title>
</head>
<body>
  <nav>
    <div class="logo">MedRec</div>
    <div class="loginSignup">
      <span>Hello, {{userDetail.name}}</span>
      <button class="logoutButton" onclick="location.href='/index'">Logout</button>
    </div>
  </nav>
  <div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <!-- <span class="navbar-text">Hello, {{userDetail.name}}</span> -->
      <!-- <button class="logoutButton" onclick="location.href='/index'">Logout</button> -->
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto" margin=10px>
              <li class="nav-item">
                  Hello, {{userDetail.name}}
              </li>
              <li class="nav-item">
                  <!-- <a class="nav-link" href="#">Link</a> -->
                  <button class="logoutButton" onclick="location.href='/index'">Logout</button>
              </li>
          </ul>
      </div>
    </nav>
  </div>
  <main>
    <div class="card-group">
      <div class="card">
        <img src="/image/appointment.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Book an Appointment</h5>
          <p class="card-text">Book an appointment with doctor.</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          <a href="/doctorprofile" class="btn btn-primary">Book</a>
        </div>
      </div>
      <div class="card">
        <img src="/image/user_profile.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">My Profile</h5>
          <p class="card-text">View and update my profile information.</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          <a href="/patientProfile" class="btn btn-primary">View</a>
        </div>
      </div>
      <div class="card">
        <img src="/image/medication_schedule.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Medication Schedule</h5>
          <p class="card-text">View my medication prescription schedule.</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          <a href="/medicine" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
