@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    margin-top: 0;
    color: #ffffff;
    background-color: #263238;
}


.logo {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.loginSignup {
    flex: 3;
    text-align: right;
    margin: auto;
    padding-right: 3%;
    font-size: 1.1rem;
}

button {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    border-style: none;
    color: inherit;
    background-color: inherit;
    font-size: inherit;
}

button:hover {
    color: #777777;
}

.login {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    line-height: 1;
}

input[type=text], input[type=password] {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 1% 1%;
    margin: 2% 0;
}

.form2 {
    display: none;
}

.form1, .form2 {
    background-color: #fefefe;
    position: absolute;
    margin: 10% 35%;
    border: 1px solid #888;
    width: 25%;
    color: #000000;
    border-radius: 0.5rem;
    padding: 1%;
}

.loginButton {
    width: 100%;
    text-align: center;
    background-color: #00e676;
    margin-top: 5%;
    border-radius: 0.3rem;
    font-weight: bold;
}

.createAccount {
    font-size: 0.7rem;
    text-align: center;
}

.close {
    display: inline-block;
    font-size: 2rem;
    margin-left: 95%;
    line-height: 1;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

main {
    max-height: 100vh;
}

.matra {
    position: absolute;
    color: #ffffff;
    font-size: 3rem;
    margin: 25% 0 0 3%;
}

img {
    width: 100%;
}

.LaurynasMereckas {
    position: absolute;
    margin: 40% 0 0 0;
}
