@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    height: 100vh;
    overflow: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

nav {
    display: flex;
    margin-top: 0;
    color: #ffffff;
    background-color: #263238;
}

.logo {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.loginSignup {
    flex: 3;
    text-align: right;
    margin: auto;
    padding-right: 3%;
    font-size: 1.1rem;
}

.logoutButton {
        font-family: 'Raleway', sans-serif;
        cursor: pointer;
        border-style: none;
        color: inherit;
        background-color: inherit;
        font-size: inherit;
}

.patientdetails {
    border-radius: 25px;
    background-color: #eceff1;
    padding: 5%;
    margin: auto;
    width: 40%;
    margin-top: 5%;
}

div{
    padding: 10px;
    margin: 0;
    text-align: center;
}

input {
  text-align: center;
    margin-bottom: 10px;
    justify-content: center;
}

.submitButton {
    width: 100%;
    text-align: center;
    background-color: #00e676;
    border:0;
    margin-top: 5%;
    border-radius: 0.3rem;
    font-weight: bold;
}

span {
    margin-right: 5%;
}
