@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    line-height: 1.5;
}
.form1{
    position: absolute;
    margin-top: 10%;
    width: 25%;
    color: #000000;
    border-radius: 0.5rem;
    padding: 1%;
}

body {
    height: 100vh;
    overflow: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
    color:blue;
    align-content: right;
}

nav {
    display: flex;
    margin-top: 0;
    color: #ffffff;
    background-color: #263238;
}

.logo {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.loginSignup {
    flex: 3;
    text-align: right;
    margin: auto;
    padding-right: 3%;
    font-size: 1.1rem;
}

.logoutButton {
        font-family: 'Raleway', sans-serif;
        cursor: pointer;
        border-style: none;
        color: inherit;
        background-color: inherit;
        font-size: inherit;
}

div{
    padding: 10px;
    margin: 0;
    text-align: center;
}

input {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
}

span {
    margin-right: 5%;
}

.edit {
    background-color: #263238;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5%;
    border-radius: 10px;
}

.edit:hover {
    color: #cccccc;
    text-decoration: none;
}
